/* styles.css */

/* Reset default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}
h2 {
    font-family: 'Yeseva One';
}
/* Style the header */
header {
    background-color: #020607;
    color: #fdfdfd;
    text-align: center;
    padding: 10px;

}
.searchBox{
    text-align: right;
    margin: 5px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 15px;
}

#favicon{
    height: 200px;
    width: 140px;
    filter: invert(100%);
}
header h1 {
    margin-bottom: 10px;
    font-family: 'Pacifico';
}

/* Navigation menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .topnav {
    overflow: hidden;
    background-color: #020607;
    font-family: 'Yeseva One';
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    margin: 5px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    border-radius: 10px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #f2f6f4;
    color: rgb(9, 9, 9);
  }

/* Sections */
section {
    padding: 20px;
}
p{
    font-weight: bold;
}
div {
    padding: 20px;
}
.phoneimg{
    width: 250px;
    height: auto;
    transition : transform 0.5s
 }
/* Style the footer */
footer {
    background-color: #020607;
    color: #fff;
    text-align: center;
    padding: 10px;
}

table{
    /* margin: 100px; */
    padding: 20px;
    border-style:groove;
    border-radius: 10px;
    border-color: #fff;
    /* box-sizing: border-box; */
    width: 100%;
    height: auto;
    align-items: center;
    align-content: center;
}
tr, td, th{
    margin: 10px;
    padding: 20px;
    border-style:none;
    border-radius: 10px;
    border-color: #fff;
    align-items: center;
    align-content: center;
    text-align: center;
}

.phoneimg:hover {
    transform: rotateY(180deg);
}

html {
    scroll-behavior: smooth;
}

input[type=text]{
width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 50%;
  }

input[type=submit]{
    width: 70px; /* Adjust the width as needed */
    height: 45px; /* Adjust the height as needed */
    font-size: 16px; /* Adjust the font size as needed */
    background-color: #ffffff;
    color: #010101;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: rgb(201, 79, 79);
}

.amb{
    width: 400px; 
    height: 240px;
    border-radius: 10px;
    border-color: #fff;
    align-items: center;
    align-content: center;
    text-align: center;

}

video{
    border-radius: 10px;
    border-color: #fff;
}

audio{
    border-radius: 10px;
    border-color: #fff;
    align-items: center;
    align-content: center;
    text-align: center;
}
#About{
    align-items: center;
    align-content: center;
    text-align: center;

}

.process_donation,label{
    padding: 10px;
    margin: 10px;
}
#ambass1{
    border-radius: 10px;
    border-color: #fff;
    align-items: center;
    align-content: center;
    text-align: center;

}

#customers{
    border-radius: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
}
.reviews{
    border: black;
    border-style: dashed;
}
#stars{
    width: 300px; 
    height: 200px;
}